<div class="location">
	<a href="/" title="网站首页">首页</a><a href="/service" title="服务支持">服务支持</a><a href="/faq" title="常见问题">常见问题</a><% if !@keyword.blank? %>搜索 “<b style="color:red;"><%= @keyword %></b>” 结果<% else %><span>问题列表</span><% end %>
</div>
<div class="clear"></div>
<div class="content_box faq">
	<div class="ser_action">
		<div class="faq_title">
			<h1>常见问题</h1>
			<a target="_blank" href="http://amos.alicdn.com/msg.aw?v=2&uid=%E4%B8%8A%E6%B5%B7%E6%96%8C%E6%B4%81%E5%95%86%E8%B4%B8&site=cntaobao&s=1&charset=utf-8" class="wangwang"></a>
			<div class="so">
				<%= form_tag "/faq" do %>
					<input type="text" onFocus="javascript:if('请输入问题'==this.value)this.value='';" onBlur="javascript:if(''==this.value)this.value='请输入问题';" value="<% if !@keyword.blank? %><%= @keyword %><% else %>请输入问题<% end %>" name="s_key">
					<button></button>
				<% end %>
			</div>
		</div>
		<div class="faq_list">
			<ul>
				<% if @faqs.length > 0 %>
				<% @faqs.each do |faq| %>
				<li>
					<a href="javascript:;" title="<%= faq.title %>"><%= faq.title %></a>
					<div><%= faq.text.to_s.html_safe %></div>
				</li>
				<% end %>
				<% else %>
				<li>没有任何内容</li>
				<% end %>
			</ul>
		</div>
		<div class="ser_tel mt20">
			如果您的问题仍未解决，欢迎使用在线咨询或者拨打全国免费服务热线
			<br />
			400-820-0407
		</div>
	</div>
</div>
<script type="text/javascript">
$(function(){
	$('.faq_list li a').click(function(){
		if($(this).parent().find('div').is(":visible")) {
			$(this).parent().find('div').hide();
		}else{
			$(this).parent().find('div').show();
		}
	});
});
</script>
