<div class="location">
	<a href="/"><%= _t "location.index" %></a><a href="/products_intro"><%= _t "location.service" %></a><span><%= _t "location.guestbook_new" %></span>
</div>
<div class="clear"></div>
<div class="content_box service">
	<div class="ser_action">
		<h2><%= _t "location.guestbook_new" %></h2>
		<p class="guestbook-action"><a href="/guestbooks">&gt; <%= _t "guestbook.list" %></a></p>
		<div class="ser_con">
			<%= form_tag "/guestbook_new", :method => "post", :onsubmit => "return checkform()" do %>
				<ul>
					<li>
						<b><%= _t "guestbook.name" %></b>
						<br />
						<input type="text" name="gb_info[name]" id="gb_name" class="input" />
					</li>
					<li>
						<b><%= _t "guestbook.tel" %></b>
						<br />
						<input type="text" name="gb_info[tel]" id="gb_tel" class="input" />
					</li>
					<li>
						<b><%= _t "guestbook.email" %></b>
						<br />
						<input type="text" name="gb_info[email]" id="gb_email" class="input" />
					</li>
					<li>
						<b><%= _t "guestbook.content" %></b>
						<br />
						<textarea name="gb_content[text]" id="gb_content" rows="10" style="width:99%;"></textarea>
					</li>
					<li>
						<button type="submit"><%= _t "guestbook.submit" %></button>
					</li>
				</ul>
			<% end %>
		</div>
	</div>
</div>
<script type="text/javascript">
function checkform(){
	if($('#gb_name').val().trim() == ''){
		alert('<%= _t "guestbook.no_name" %>');
		return false;
	}
	if($('#gb_content').val().trim() == ''){
		alert('<%= _t "guestbook.no_content" %>');
		return false;
	}
}
</script>
