<%= form_for [:admin, @sale] do |f| %>
<table class="newtable">
	<thead>
		<tr>
			<th colspan="2"><%= t %></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="2" class="blank"></td>
		</tr>
		<tr>
			<td class="data_label">城市：</td>
			<td class="data_ipt">
				<%= @sale.city %>
			</td>
		</tr>
		<tr>
			<td class="data_label">办事处：</td>
			<td class="data_ipt">
				<input type="text" name="sale[name]" value="<%= @info["name"] %>" />
			</td>
		</tr>
		<tr>
			<td class="data_label">地址：</td>
			<td class="data_ipt">
				<input type="text" name="sale[addr]" value="<%= @info["addr"] %>" />
			</td>
		</tr>
		<tr>
			<td class="data_label">电话：</td>
			<td class="data_ipt">
				<input type="text" name="sale[tel]" value="<%= @info["tel"] %>" />
			</td>
		</tr>
		<tr>
			<td class="data_label">QQ：</td>
			<td class="data_ipt">
				<input type="text" name="sale[qq]" value="<%= @info["qq"] %>" />
				&nbsp;&nbsp;多个以 “###” 隔开
			</td>
		</tr>
		<tr>
			<td class="data_label">MSN：</td>
			<td class="data_ipt">
				<input type="text" name="sale[msn]" value="<%= @info["msn"] %>" />
				&nbsp;&nbsp;多个以 “###” 隔开
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td class="data_sbt">
				<input type="submit" name="submit" value="提交" />
			</td>
		</tr>
		<tr>
			<td colspan="2" class="blank"></td>
		</tr>
	</tbody>
</table>
<% end %>