<%= javascript_include_tag "kindeditor" %>
<%= form_for [:admin, @topic] do |f| %>
<table class="newtable">
	<thead>
		<tr>
			<th colspan="2"><%= t %></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="2" class="blank"></td>
		</tr>
		<tr>
			<td class="data_label">分类：</td>
			<td class="data_ipt">
				<select name="topic[catalog_id]">
				<%
					@catalogs.each do |catalog|
				%>
					<option value="<%= catalog.id %>"<% if catalog.id == @topic.catalog_id %> selected<% end %>><%= catalog.name %></option>
				<% 
					end 
				%>
				</select>
			</td>
		</tr>
		<tr>
			<td class="data_label">标题：</td>
			<td class="data_ipt">
				<%= f.text_field :title, :style => "width:400px;" %>
			</td>
		</tr>
		<tr>
			<td class="data_label">关键词：</td>
			<td class="data_ipt">
				<%= f.text_field :keywords, :style => "width:400px;" %>
			</td>
		</tr>
		<tr>
			<td class="data_label">描述信息：</td>
			<td class="data_ipt">
				<%= f.text_area :description, :style => "width:400px;height:60px;" %>
			</td>
		</tr>
		<tr>
			<td class="data_label">发布时间：</td>
			<td class="data_ipt">
				<input type="text" name="pub_date" value="<% if !@topic.created_at.nil? %><%= @topic.created_at.strftime("%Y-%m-%d") %><% else %><%= Time.now.strftime("%Y-%m-%d") %><% end %>" style="width:400px;" />
			</td>
		</tr>
		<tr>
			<td class="data_label">内容：</td>
			<td class="data_ipt">
				<%= kindeditor_tag :content, @topic.content, :window_onload => true, :width => 680, :height => 400 %>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td class="data_sbt">
				<input type="submit" name="submit" value="提交" />
			</td>
		</tr>
		<tr>
			<td colspan="2" class="blank"></td>
		</tr>
	</tbody>
</table>
<input type="hidden" name="page" value="<%= params[:page] %>" />
<% end %>