<%= form_tag({:action => "trashes"}, {:id => "vbform"}) do %>	
<div class="nav">
	<div class="list-opts clearfix">
		<%= will_paginate @topics %>
		<div class="nav-links">
			<input type="button" name="selectAll" id="selectAll" value="全选">
			<input type="button" name="selectOther" id="selectOther" value="反选">
			<input type="submit" name="delete_all" id="delete_all" value="全部删除">
			<input type="button" name="clear_all" id="clear_all" value="清空">
		</div>
	</div>
</div>
<div class="main">
<table class="stdtable">
	<thead>
		<tr>
			<th width="5%">选择</th>
			<th width="5%">ID</th>
			<th>标题</th>
			<th width="10%">浏览数</th>
			<th width="15%">分类</th>
			<th width="15%">日期</th>
			<th width="15%">管理</th>
		</tr>
	</thead>
	<tbody>
	<%
		if @topics.length>0
			@topics.each do |topic|
	%>
		<tr>
			<td><%= check_box_tag 'topic_ids[]', topic.id, false, :class => 'checker' %></td>
			<td><%= topic.id %></td>
			<td><a href="<%= topic.show_url %>" target="_blank"><%= topic.title %></a></td>
			<td><%= topic.hits %></td>
			<td><% if topic.catalog %><%= topic.catalog.name %><% end %></td>
			<td><%= topic.created_at.strftime("%Y-%m-%d") %></td>
			<td>
				<%= link_to "恢复", {:action => "repost", :id => topic, :page => @page}, :method => "post" %>
				|<%= link_to "删除", {:action => "destroy", :id => topic, :page => @page}, :confirm => "确定删除？", :method => "delete" %>
			</td>
		</tr>
	<%
			end
		else
	%>
		<tr>
			<td colspan="7" style="text-align:left;">&nbsp;还没有内容。</td>
		</tr>
	<%
		end
	%>
	</tbody>
</table>
<% end %>
<script type="text/javascript">
$('#clear_all').click(function(e){
	e.preventDefault();
	e.stopPropagation();
	location.href = "/admin/topics/clear";
});

$('.checker').click(function(e){
	e.stopPropagation();
});
$('.stdtable td').click(function(e){
	if(e.target.tagName != 'A'){
		e.preventDefault();
		e.stopPropagation();
		var _c = $(this).parent().find('.checker');
		_c.attr('checked', !!!$(_c).attr('checked'));
	}
});
$('#selectAll').click(function(e){
	e.preventDefault();
	e.stopPropagation();
	$('.checker').attr('checked', true);
});
$('#selectOther').click(function(e){
	e.preventDefault();
	e.stopPropagation();
	$('.checker').each(function(index, elem){
		$(elem).attr('checked', !$(elem).attr('checked'));
	});
});
$('#delete_all').click(function(e){
	e.stopPropagation();
	if($('input:checked').length == 0){
		alert("请选择批量处理的ID!");
		return false;
	}
});
</script>
</div>