<div class="nav">
	<div class="list-opts">
		<div class="nav-links">
			<a href="/admin/products/<%= @product.id %>/product_files"><%= @product.title %> 资料</a>
			<a href="/admin/products/<%= @product.id %>/product_files/new">添加资料</a>
		</div>
	</div>
</div>
<div class="main">
<table class="stdtable">
	<thead>
		<tr>
			<th width="5%">ID</th>
			<th width="15%">类型</th>
			<th width="15%">标题</th>
			<th>地址</th>
			<th width="20%">管理</th>
		</tr>
	</thead>
	<tbody>
	<%
		if @product_files.length>0
			@product_files.each_with_index do |product_file, i|
	%>
		<tr>
			<td><%= i + 1 %></td>
			<td><img src="<%= product_file.data_type %>" /></td>
			<td><%= product_file.title %></td>
			<td><%= product_file.data_url %></td>
			<td>				
				<a href="/admin/products/<%= @product.id %>/product_files/<%= product_file.id %>/edit">修改</a>|<%= link_to "删除", {:action => "destroy", :id => product_file}, :confirm => "确定删除？", :method => "delete" %>
			</td>
		</tr>
	<%
			end
		else
	%>
		<tr>
			<td colspan="5" style="text-align:left;">&nbsp;还没有内容。</td>
		</tr>
	<%
		end
	%>
	</tbody>
</table>
</div>