<div class="nav">
	<div class="list-opts">
		<div class="nav-links">
			<a href="/admin/products/<%= @product.id %>/product_imgs"><%= @product.title %> 全部图片</a>
			<a href="/admin/products/<%= @product.id %>/product_imgs/batch_new">批量上传图片</a>
			<a href="/admin/products/<%= @product.id %>/product_imgs/new">添加图片</a>
		</div>
	</div>
</div>
<div class="main">
<table class="stdtable edtable">
	<thead>
		<tr>
			<th style="text-align:left;"><%= @product.title %> 全部图片</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>				
			<%
				if @product_imgs.length>0
					@product_imgs.each do |product_img|
			%>
			<%
					end
				else
			%>
			还没有内容。
			<%
				end
			%>
			</td>
		</tr>
	</tbody>
</table>
</div>