<%= form_tag({:action => "index"}, {:id => "vbform"}) do %>	
<div class="nav">
	<div class="list-opts clearfix">
		<%= will_paginate @product_orders %>
		<div class="nav-links">
			<input type="button" name="selectAll" id="selectAll" value="全选">
			<input type="button" name="selectOther" id="selectOther" value="反选">
			<input type="submit" name="delete_all" id="delete_all" value="全部删除">
			<input type="hidden" name="page" value="<%= @page %>" />
		</div>
	</div>
</div>
<div class="main">
<table class="stdtable">
	<thead>
		<tr>
			<th width="5%">选择</th>
			<th width="5%">ID</th>
			<th width="20%">产品信息</th>
			<th width="20%">联系人信息</th>
			<th>附言</th>
			<th width="15%">日期</th>
			<th width="15%">管理</th>
		</tr>
	</thead>
	<tbody>
	<%
		if @product_orders.length>0
			@product_orders.each do |product_order|
				items = JSON.parse(product_order.items)
				info = JSON.parse(product_order.info)
	%>
		<tr>
			<td><%= check_box_tag 'product_order_ids[]', product_order.id, false, :class => 'checker' %></td>
			<td><%= product_order.id %></td>
			<td style="text-align:left;">产品型号：<%= items["model"] %><br />定购数量：<%= items["num"] %></td>
			<td style="text-align:left;">
				姓名：<%= info["name"] %><br />
				称呼：<% if info["role"] == "male" %>先生<% else %>女士<% end %><br />
				职位：<%= info["position"] %><br />
				电话：<%= info["phone"] %><br />
				传真：<%= info["fax"] %><br />
				公司名称：<%= info["company"] %><br />
				电子邮箱：<%= info["email"] %><br />
				公司网址：<%= info["www"] %><br />
				联系地址：<%= info["addr"] %>
			</td>
			<td style="text-align:left;"><%= info["note"] %></td>
			<td><%= product_order.created_at.strftime("%Y-%m-%d %H:%M") %></td>
			<td>
				<%= link_to "删除", {:action => "destroy", :id => product_order, :page => @page}, :confirm => "确定删除？", :method => "delete" %>
			</td>
		</tr>
	<%
			end
		else
	%>
		<tr>
			<td colspan="7" style="text-align:left;">&nbsp;还没有内容。</td>
		</tr>
	<%
		end
	%>
	</tbody>
</table>
<% end %>
<script type="text/javascript">
$('.checker').click(function(e){
	e.stopPropagation();
});
$('.stdtable td').click(function(e){
	if(e.target.tagName != 'A' && e.target.tagName != 'B'){
		e.preventDefault();
		e.stopPropagation();
		var _c = $(this).parent().find('.checker');
		_c.attr('checked', !!!$(_c).attr('checked'));
	}
});
$('#selectAll').click(function(e){
	e.preventDefault();
	e.stopPropagation();
	$('.checker').attr('checked', true);
});
$('#selectOther').click(function(e){
	e.preventDefault();
	e.stopPropagation();
	$('.checker').each(function(index, elem){
		$(elem).attr('checked', !$(elem).attr('checked'));
	});
});
$('#delete_all').click(function(e){
	e.stopPropagation();
	if($('input:checked').length == 0){
		alert("请选择批量处理的ID!");
		return false;
	}
});
</script>
</div>