<%= form_tag({:action => "index"}, {:id => "vbform"}) do %>	
<div class="nav">
	<div class="list-opts clearfix">
		<%= will_paginate @products %>
		<div class="nav-links">
			<input type="button" name="selectAll" id="selectAll" value="全选">
			<input type="button" name="selectOther" id="selectOther" value="反选">
			<input type="submit" name="delete_all" id="delete_all" value="全部删除">
			<input type="hidden" name="page" value="<%= @page %>" />
		</div>
	</div>
</div>
<div class="main">
<table class="stdtable">
	<thead>
		<tr>
			<th width="5%">选择</th>
			<th width="5%">ID</th>
			<th>标题</th>
			<th width="15%">分类</th>
			<th width="10%">日期</th>
			<th width="40%">管理</th>
		</tr>
	</thead>
	<tbody>
	<%
		if @products.length>0
			@products.each do |product|
	%>
		<tr>
			<td><%= check_box_tag 'product_ids[]', product.id, false, :class => 'checker' %></td>
			<td><%= product.id %></td>
			<td style="text-align:left;"><a href="<%= product.show_url %>" target="_blank"><%= product.title %></a></td>
			<td><% if product.product_catalog %><%= product.product_catalog.show_name("zh") %><% end %></td>
			<td><%= product.created_at.strftime("%Y-%m-%d") %></td>
			<td>
				<a href="/admin/products/<%= product.id %>/product_imgs?page=<%= @page %>">图片</a>|<a href="/admin/products/<%= product.id %>/product_files?page=<%= @page %>">资料</a>|
				<a href="/admin/products/<%= product.id %>/specifications?page=<%= @page %>">规格参数</a>|<a href="/admin/products/<%= product.id %>/product_features?page=<%= @page %>">功能特点</a>|				
				<a href="/admin/products/<%= product.id %>/edit?page=<%= @page %>">修改</a>|<%= link_to "删除", {:action => "destroy", :id => product, :page => @page}, :confirm => "确定删除？", :method => "delete" %>
			</td>
		</tr>
	<%
			end
		else
	%>
		<tr>
			<td colspan="6" style="text-align:left;">&nbsp;还没有内容。</td>
		</tr>
	<%
		end
	%>
	</tbody>
</table>
<% end %>
<script type="text/javascript">
$('.checker').click(function(e){
	e.stopPropagation();
});
$('.stdtable td').click(function(e){
	if(e.target.tagName != 'A'){
		e.preventDefault();
		e.stopPropagation();
		var _c = $(this).parent().find('.checker');
		_c.attr('checked', !!!$(_c).attr('checked'));
	}
});
$('#selectAll').click(function(e){
	e.preventDefault();
	e.stopPropagation();
	$('.checker').attr('checked', true);
});
$('#selectOther').click(function(e){
	e.preventDefault();
	e.stopPropagation();
	$('.checker').each(function(index, elem){
		$(elem).attr('checked', !$(elem).attr('checked'));
	});
});
$('#delete_all').click(function(e){
	e.stopPropagation();
	if($('input:checked').length == 0){
		alert("请选择批量处理的ID!");
		return false;
	}
});
</script>
</div>