<div class="location">
	<a href="/"><%= _t "location.index" %></a><%= location(@cat) %><span><% if !session[:locale].blank? && session[:locale] != 'zh' %><%= @intro.en_title %><% else %><%= @intro.title %><% end %></span>
</div>
<div class="clear"></div>
<div class="content_box faq">
	<div class="ser_action">
		<% if !session[:locale].blank? && session[:locale] != 'zh' %>
		<%= @intro.en_content.html_safe %>
		<% else %>
		<%= @intro.content.html_safe %>
		<% end %>
	</div>
</div>
