<div class="location">
	<a href="/"><%= _t "location.index" %></a><span><%= _t "location.product_order" %></span>
</div>
<div class="clear"></div>
<div class="content_box order">
	<p>·<%= _t "product.order_title" %></p>
	<%= form_tag "/order_rst" do %>
	<table>
		<tr>
			<td class="order-label"><%= _t "product.order_model" %>：</td>
			<td><input type="text" name="product_order[items][model]" class="order-input" value="<%= @product.title %>" /></td>
		</tr>
		<tr>
			<td class="order-label"><%= _t "product.order_num" %>：</td>
			<td><input type="text" name="product_order[items][num]" class="order-input" /></td>
		</tr>
		<tr>
			<td class="order-label"><%= _t "product.order_name" %>：</td>
			<td><input type="text" name="product_order[info][name]" class="order-input" /></td>
		</tr>
		<tr>
			<td class="order-label"><%= _t "product.order_role" %>：</td>
			<td>
				<input type="radio" name="product_order[info][role]" id="role-male" value="male" checked="checked" /><label for="role-male">&nbsp;<%= _t "product.order_male" %></label>
				&nbsp;&nbsp;&nbsp;
				<input type="radio" name="product_order[info][role]" id="role-female" value="female" /><label for="role-female">&nbsp;<%= _t "product.order_female" %></label>
			</td>
		</tr>
		<tr>
			<td class="order-label"><%= _t "product.order_position" %>：</td>
			<td><input type="text" name="product_order[info][position]" class="order-input" /></td>
		</tr>
		<tr>
			<td class="order-label"><%= _t "product.order_phone" %>：</td>
			<td><input type="text" name="product_order[info][phone]" class="order-input" /></td>
		</tr>
		<tr>
			<td class="order-label"><%= _t "product.order_fax" %>：</td>
			<td><input type="text" name="product_order[info][fax]" class="order-input" /></td>
		</tr>
		<tr>
			<td class="order-label"><%= _t "product.order_company" %>：</td>
			<td><input type="text" name="product_order[info][company]" class="order-input2" /></td>
		</tr>
		<tr>
			<td class="order-label"><%= _t "product.order_email" %>：</td>
			<td><input type="text" name="product_order[info][email]" class="order-input2" /></td>
		</tr>
		<tr>
			<td class="order-label"><%= _t "product.order_www" %>：</td>
			<td><input type="text" name="product_order[info][www]" class="order-input2" /></td>
		</tr>
		<tr>
			<td class="order-label"><%= _t "product.order_addr" %>：</td>
			<td><input type="text" name="product_order[info][addr]" class="order-input2" /></td>
		</tr>
		<tr>
			<td class="order-label"><%= _t "product.order_note" %>：</td>
			<td>
				<textarea name="product_order[info][note]" class="order-note"></textarea>
			</td>
		</tr>
		<tr>
			<td colspan="2" class="order-submit">
				<input type="submit" name="submit" value="<%= _t "product.order_submit" %>" />
			</td>
		</tr>
	</table>
	<% end %>
</div>