<div class="location">
	<a href="/"><%= _t "location.index" %></a><a href="/products"><%= _t "location.products" %></a><a href="<%= @product_catalog.show_url %>"><%= @product_catalog.show_name(session[:locale]) %></a><span><%= @product.title %></span>
</div>
<div class="clear"></div>
<div class="content_box">
	<div class="con_left">
		<div class="pro_pic">
			<% if @product_imgs.length > 0%>
			<div id="banner_pic">
				<% @product_imgs.each do |img| %>
				<a href="javascript:;" class="banner_img" title="<%= img.title %>" style="background:url(<%= img.addr %>) no-repeat center top;"></a>
				<% end %>
				<div class="banner_num">
					<% @product_imgs.each do |img| %>
					<a href="javascript:;"><img src="<%= img.addr %>" /></a>
					<% end %>
				</div>
				<a href="<%= @product.order_url %>" class="product-order"><img src="/assets/btn_buy.png" /></a>
			</div>
			<script type="text/javascript" src="/assets/jquery.soChange.js"></script>
			<% else %>
			<div style="margin:240px 0 0;text-align:center;"><%= _t "product.no_pics" %></div>
			<% end %>
		</div>
	</div>
	<div class="con_right">
		<div class="pro_show">
			<div class="title">
				<ul>
					<li class="curr"><%= _t "product.params" %></li>
					<li><%= _t "product.features" %></li>
					<li><%= _t "product.data" %></li>
				</ul>
			</div>
			<div class="pro_content">
				<div class="jScrollbar tab" id="jScroll">
					<div class="jScrollbar_mask">
						<!--规格-->
						<div class="guige">
							<ul>
								<li>
									<div class="label">
										<%= _t "product.model" %>：
									</div>
									<div class="cont">
										<%= @product.title %>
									</div>
								</li>
								<% if !@product.specifications.blank? %>
								<% @specifications = JSON.parse(@product.specifications) %>
								<% @product_params.each do |param| %>
								<% arr = param.title.split("$$$") %>
								<li>
									<div class="label">
										<% if session[:locale] && session[:locale] != 'en' %>
										<%= arr[0] %>：
										<% else %>
										<%= arr[1] if arr[1] %>：
										<% end %>
									</div>
									<div class="cont">
										<%= @specifications[param.mark] %>
									</div>
								</li>
								<% end %>
								<% end %>
							</ul>
						</div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="jScrollbar tab" id="jScroll" style="z-index:-1">
					<div class="jScrollbar_mask">
						<!--功能参数-->
						<div class="gongneng">
							<ul>
								<% @product_features.each do |feature| %>
								<li>
									<div class="pic"><img src="<%= feature.img_url %>" />
									</div>
									<div>
										<%= feature.show_title(session[:locale]) %>：<%= feature.show_info(session[:locale]) %>
									</div>
								</li>
								<% end %>
							</ul>
						</div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="down tab" style="z-index:-1;">
					<% if @product_files.length > 0 %>
					<% @product_files.each do |f| %>
						<a href="<%= f.data_url %>" target="_blank" class="download"><%= f.title %></a>
					<% end %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<div class="clear"></div>
	<div class="pro_cookie mt20">
		<h2><a href="/clear_cookie/<%= @product.id %>" class="fr">清空浏览列表</a>您浏览过的产品列表</h2>
		<div class="contact">
			<a href="/shop" class="buy"></a>
			<a target="_blank" href="http://amos.alicdn.com/msg.aw?v=2&uid=%E4%B8%8A%E6%B5%B7%E6%96%8C%E6%B4%81%E5%95%86%E8%B4%B8&site=cntaobao&s=1&charset=utf-8" class="lx"></a>
		</div>
		<ul>
			<% session[:products].each_with_index do |product_id, i| %>
			<% product = Product.find(product_id) %>
			<li<% if (i+1) % 3 == 0 %> class="last"<% end%>>
				<a href="<%= product.show_url %>" class="pic" title="<%= product.title %>"><img src="<%= product.cover %>" alt="<%= product.title %>"/></a>
			</li>
			<% end %>
		</ul>
	</div>
</div>
<script type="text/javascript" src="/assets/jScrollbar.jquery.js"></script>
<script type="text/javascript">
$(function(){
	//TAB切换
	$("div.pro_show .title li").hover(function(){
		$("div.pro_show .title li").removeClass("curr");
		$("div.pro_content .tab").css('z-index', '-1');
		$(this).addClass("curr");
		$("div.pro_content .tab:eq("+$(this).index()+")").css('z-index', '10');
	});
	
	//滚动条
	$('.jScrollbar').jscroll({
		W: "5px"//设置滚动条宽度
		, Bg: "#f1f1f1"
		, Bar: {
			Bd: {
				Out: "#909090",
				Hover: '#909090'
			}
			, Bg: {
				Out: "#909090",
				Hover: "#909090",
				Focus: "#909090"
			}
		}//设置滚动条滚轴背景：鼠标离开(默认)，经过，点击
		, Btn: {
			btn:false
		}
		, Fn: function(){}//滚动时候触发的方法
	});
});
</script>
