<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title><% if !@title.blank? %><%= @title %><% else %><%= @setting["site_name"] %><% end %> - MORO</title>
	<meta name="keywords" content="<%= @setting["site_keywords"] %>" />
	<meta name="description" content="<%= @setting["site_desc"] %>" />
	<%= stylesheet_link_tag    "style", :media => "all" %>
	<%= javascript_include_tag "jquery-1.4.4.min", "common" %>
	<%= csrf_meta_tags %>
</head>
<body>
<div id="kf_panel" style="top:120px;right:10px;">
	<div class="kf-p-t"><span id="kf_p_cls"></span></div>
	<div class="kf-p-m">
		<ul>
		<% if !session[:locale].blank? && session[:locale] != "zh" %>
			<% @kfs.each do |kf| %>
				<% if kf.stype != "qq" %>
			<li>
				<a href="msnim:chat?contact=<%= kf.account %>" tareget="_blank">
					<img border="0" src="/assets/cslist/msn.png" alt="点击这里给我发消息" title="点击这里给我发消息"/>
					<%= kf.title %></a>
			</li>
				<% end %>
			<% end %>
		<% else %>
			<% @kfs.each do |kf| %>
				<% if kf.stype == "qq" %>
			<li>
				<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=<%= kf.account %>&site=qq&menu=yes">
					<img border="0" src="http://wpa.qq.com/pa?p=2:<%= kf.account %>:52" alt="点击这里给我发消息" title="点击这里给我发消息"/>
					<b><%= kf.title %></b></a>
			</li>
				<% end %>
			<% end %>
		<% end %>
		</ul>
	</div>
	<div class="kf-p-b"></div>
</div>
<div class="con_layout">
	<div class="navbox">
		<div class="top_logo">
			<a href="/"></a>
		</div>
		<div class="lang">
			<a href="/zh" class="zh">中文</a>|<a href="/en" class="en">English</a>
		</div>
		<div id="navlist">
			<table class="nav-tb">
				<tr>
				<% if !session[:locale].blank? && session[:locale] != 'zh' %>
				<% else %>
				<td class="nav-td">
					<table>
						<tr>
							<td class="nav-l"></td>
							<td class="nav-m"><a href="/"><%= _t 'base.home' %></a></td>
							<td class="nav-r"></td>
						</tr>
					</table>
				</td>
				<% end %>
				<td class="nav-td">
					<table>
						<tr>
							<td class="nav-l"></td>
							<td class="nav-m"><a href="/about"><%= _t 'base.about' %></a></td>
							<td class="nav-r"></td>
						</tr>
					</table>
					<div class="subbox">
						<div class="item"><a href="/about"><%= _t 'base.intro' %></a></div>
						<div class="item"><a href="/culture"><%= _t 'base.culture' %></a></div>
						<% if !session[:locale].blank? && session[:locale] != 'zh' %>
						<div class="item"><a href="/news_list/3">News</a></div>
						<% else %>
						<div class="item"><a href="/news_list/1"><%= _t 'base.news' %></a></div>
						<% end %>
					</div>
				</td>
				<td class="nav-td">
					<table>
						<tr>
							<td class="nav-l"></td>
							<td class="nav-m"><a href="/qualification"><%= _t 'base.management' %></a></td>
							<td class="nav-r"></td>
						</tr>
					</table>
					<div class="subbox">
						<div class="item"><a href="/qualification"><%= _t 'base.qualification' %></a></div>
						<div class="item">
							<a href="/quality"><%= _t 'base.quality' %></a>
							<dl>
								<dt>									
									<a href="/quality"><%= _t 'base.quality_a' %></a>
								</dt>
								<dt>									
									<a href="/quality_b"><%= _t 'base.quality_b' %></a>
								</dt>
								<!--dt>									
									<a href="/quality_c"><%= _t 'base.quality_c' %></a>
								</dt>
								<dt>									
									<a href="/quality_d"><%= _t 'base.quality_d' %></a>
								</dt-->
							</dl>
						</div>
					</div>
				</td>
				<td class="nav-td">
					<table>
						<tr>
							<td class="nav-l"></td>
							<td class="nav-m"><a href="/products"><%= _t 'base.products' %></a></td>
							<td class="nav-r"></td>
						</tr>
					</table>
					<div class="subbox">
						<% @product_catalogs.each do |catalog| %>
						<div class="item">
							<a href="<%= catalog.show_url %>"><%= catalog.show_name(session[:locale]) %></a>
							<dl>
								<% catalog.products.each do |product| %>
								<dt>									
									<a href="<%= product.show_url %>"><%= product.title %></a>
								</dt>
								<% end %>
							</dl>
						</div>
						<% end %>
					</div>
				</td>
				<td class="nav-td">
					<table>
						<tr>
							<td class="nav-l"></td>
							<td class="nav-m"><a href="/sale"><%= _t 'base.sale' %></a></td>
							<td class="nav-r"></td>
						</tr>
					</table>
					<div class="subbox">
						<div class="item">
							<a href="/sale"><%= _t 'base.mall' %></a>
							<dl>
								<dt>									
									<a href="/sale"><%= _t 'base.sale_civil' %></a>
								</dt>
								<dt>									
									<a href="/national"><%= _t 'base.sale_national' %></a>
								</dt>
							</dl>
						</div>
						<div class="item">
							<a href="javascript:void(0);"><%= _t 'base.sale_network' %></a>
							<dl>
								<dt>									
									<a href="#"><%= _t 'base.sale_sh' %></a>
								</dt>
								<dt>									
									<a href="#"><%= _t 'base.sale_yc' %></a>
								</dt>
							</dl>
						</div>
					</div>
				</td>
				<td class="nav-td">
					<table>
						<tr>
							<td class="nav-l"></td>
							<td class="nav-m"><a href="/investment"><%= _t 'base.investment' %></a></td>
							<td class="nav-r"></td>
						</tr>
					</table>
					<div class="subbox">
						<div class="item"><a href="/investment"><%= _t 'base.global_investment' %></a></div>
						<div class="item"><a href="/process"><%= _t 'base.investment_process' %></a></div>
					</div>
				</td>
				<td class="nav-td">
					<table>
						<tr>
							<td class="nav-l"></td>
							<td class="nav-m"><a href="/products_intro"><%= _t 'base.service' %></a></td>
							<td class="nav-r"></td>
						</tr>
					</table>
					<div class="subbox last">
						<div class="item"><a href="/products_intro"><%= _t 'base.products_intro' %></a></div>
						<div class="item"><a href="/guestbooks"><%= _t 'base.guestbooks' %></a></div>
					</div>
				</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="clear"></div>
	<%= yield %>
	<div class="clear"></div>
	<div class="footer_box">
		<div class="foot_links">
			<ul class="fl">
				<li><a href="/contact"><%= _t 'base.contact' %></a></li>
				<% if !session[:locale].blank? && session[:locale] != 'zh' %>
				<% else %>
				<li><a href="/careers"><%= _t 'base.careers' %></a></li>
				<% end %>
				<li><a href="/declaration"><%= _t 'base.declaration' %></a></li>
			</ul>
			<div class="mail">
				<a href="mailto:morocenter@163.com "><%= _t 'base.mail' %></a>
			</div>
			<span class="fr"><em class="tel"></em><%= _t 'base.hotline' %>400-820-0407</span>
		</div>
		<div class="copyright">
			<span class="fl"><%= (_t 'base.copyright').html_safe %></span>
			<span class="fr"><a href="http://www.miibeian.gov.cn/" target="_blank">沪ICP备12033067号-1</a></span>
		</div>
	</div>
</div>
</body>
</html>
